.banner-card{
    position: relative;
}

.banner-card img{
     width: 1000px;
     height: 500px;
}
 .banner-text{
    position: absolute;
    text-align: center;
    top:25%;
    left:25%;
    color: white;
    padding: 10px;
 }


